@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

body {
  display: grid;
  font-size: 0.2em;
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  padding: 5%;
  height: 100vh;
}

.timeBox {
  height: 150px;
  width: 150px;
  border: 1px grey solid;
  margin: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
  color: black;
  display: grid;
  grid-area: auto;
  text-align: center;
  white-space: pre-line;
  align-content: center;
  font-size: 0.8em;
}

h1 {
  text-align: center;
  font-size: 14px;
}
.home {
  border: 1px solid black;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-self: space-around;
  justify-content: center;
  align-items: center
}

.title {
  align-self: start;
  margin: 0;
  font-family: 'Bungee Outline', cursive;
  font-size: 8em;
}

.container {
  display: grid;
  height: 100vh;
  justify-content: center;
  justify-self: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.register {
  grid-area: 1/2;
  width: 60%;
  margin: 0 auto;
  background-color: white;
  padding: 5%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  width: 400px;
  height: 400px;
  padding: 5%;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.form h1 {
  width: 50%;
  margin: 0 auto;
  background: #797979;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  display: none;
}

label {
  padding: 10px;
  margin-bottom: 5px;
}

input {
  font-family: "Open Sans", sans-serif;
  margin: 10px;
  width: 250px;
}

button {
  margin: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.22);
}
button > text {
  font-size: 8px;
}

.errors {
  color: red;
  font-size: 10pt;
}

.create {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  width: 80%;
  height: 80%;
}

.timePeriods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  button {
    height: 40px;
    width: 40px;
  }
}

.container {
  strong {
    font-weight: bold;
  }
}

.datePicker input[type="text"] {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: black;
}
