{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    [
      "@babel/env",
      {
        "modules": true,
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ]
  ]
}