.controls button {
  background-color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  margin: 0 15px;
  font-family: 'Titillium Web', sans-serif;
  outline: 0;
}

.disabled {
  opacity: 0.4;
  cursor: unset !important;
}

button img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.start {
  color: green;
}

.stop {
  color: red;
}

.reset {
  color: orange;
  cursor: pointer;
}
