.session {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  width: 70vw;
  max-height: 40px;
  border: 2px solid grey;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.session-name-container {
  text-align: left;
  max-height: inherit;
  align-self: center;
}

.session-name-input {
  border: 1px solid transparent;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: #333;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  outline: 0;
}
